<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="Quantla is a quantitative lab team that with the goal to create a trading bot AI advisor">
    <meta name="keywords" content="cryptocurrency, bitcoin, hedge fund,  ">
    <meta property="og:title" content="Quantla">
    <meta property="og:description"
        content="Quantla is a quantitative lab team that with the goal to create a trading bot AI advisor">
    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://quantla.com/">
    <meta property="og:site_name" content="Quantla">
    <meta name="twitter:description"
        content="Quantla is a quantitative lab team that with the goal to create a trading bot AI advisor">
    <meta name="twitter:title" content="Quantla">
    <!-- <meta name="google-site-verification" content="R1q5qs8M0opPmtmUrw0BuuI2i0221xZ94q8ITQkxzLg"> -->
    <meta name="application-name" content="Quantla">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Quantla</title>

    <!-- jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <!-- font-family: 'Lovers Quarrel', cursive; -->
    <!-- font-family: 'Roboto', sans-serif; -->

    <!-- particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- reCAPTCHA type:v3 -->
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LdFrYAUAAAAAMPcS_9e_upcDbcHO_VgqHPUUAXx"></script> -->
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/4.1.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.1.0/firebaseui.css" />

    <!-- setup -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/buttons.css">
    <script src="/assets/js/main.js"></script>


</head>
{{{body}}}
</body>

</html>